<!-- main -->
<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-user-secret text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Globel Points</p>
                <p class="card-title">{{programmer.quiz.globelPoints}}<p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i>Updated Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-pen-nib text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Quotes Points</p>
                <p class="card-title">{{programmer.quiz.quotesPoints}}<p>
                <label class="card-category">likes and dislike total points</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i>Updated Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-code-branch text-dark"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Programming Points</p>
                <p class="card-title">{{programmer.quiz.programPoints}}<p>
                <label class="card-category">1 program equals 9 points</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i>Updated Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-atom text-secondary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Quiz level</p>
                <p class="card-title">{{programmer.quiz.quizPoints}}<p>
                <label class="card-category">1 quiz equals 1 points</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
           <i class="fa fa-clock-o"></i>Updated Now
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-arrow-circle-up text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Likes for Your Quotes</p>
                <p class="card-title">{{programmer.quiz.likes}}
                  <p>
                <label class="card-category">1 likes equals 10 points</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
             <i class="fa fa-clock-o"></i>Updated Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="fa fa-arrow-circle-down text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Dislikes for your quotes</p>
                <p class="card-title">{{programmer.quiz.dislikes}}<p>
                 <label class="card-category">1 dislikes equals -1 points</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
           <i class="fa fa-clock-o"></i>Updated Now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--   Core JS Files   -->
<script src="../../script/external/jquery.min.js"></script>
<script src="../../script/external/bootstrap.min.js"></script>
<!-- Control Center for Now Ui Dashboard: for mobile -->
<script src="../../script/paper-dashboard.min.js" type="text/javascript"></script>